h1 {
    text-align: center;
    font-size: 3em;
}

#login_form {
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    padding: 15px;
}

.form_input {
    text-align: left;
    margin: 10px 10px;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    text-align: right;
    background-color: darkorange;
    border: 3px solid rgb(195, 107, 0);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

label {
    font-size: large;
}